.line-debit {
    text-align: left;
}

.line-credit {
    text-align: right;
    font-style: italic;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.first-row td {
    border-bottom: 0;
}

.second-row td {
    border-top: 0;
}